<h1>OpenSesame</h1>

<p class="userinfo">
      <% if current_customer %>
        Signed in as <%= current_customer.first_name %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
      <% else %>
        <% redirect_to root.path %>
      <% end %>
</p>

<h2><%= "Congradulations #{current_customer.first_name}!" %></h2>

<h3><%= "Your reservation has been booked at #{restaurant.name} for #{reservation.reservation_time}!" %> </h3>