
<h1>OpenSesame</h1>
<h2>Book a Reservation!</h2>

<p class="userinfo">
      <% if current_customer %>
        Signed in as <%= current_customer.first_name %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
      <% else %>
        <% redirect_to root.path %>
      <% end %>
</p>



<% @restaurants.each do |restaurant| %>
	<p>
    <strong> <%= restaurant.name %> </strong>
    <%= link_to "Reserve now", restaurant_path(restaurant) %> 
  </p>
<% end %>

